<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Sign in to your account</h2>
  </div>

  <% if alert = flash[:alert] %>
    <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
      <p class="py-2 px-3 bg-red-50 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
    </div>
  <% end %>

  <% if notice = flash[:notice] %>
    <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
      <p class="py-2 px-3 bg-green-50 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    </div>
  <% end %>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <%= form_with url: session_url, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :email_address, class: "block text-sm/6 font-medium text-white" %>
        <div class="mt-2">
          <%= form.email_field :email_address, 
              required: true, 
              autofocus: true, 
              autocomplete: "username", 
              value: params[:email_address],
              class: "block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" %>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <%= form.label :password, class: "block text-sm/6 font-medium text-white" %>
          <div class="text-sm">
            <%= link_to "Forgot password?", new_password_path, class: "font-semibold text-indigo-400 hover:text-indigo-300" %>
          </div>
        </div>
        <div class="mt-2">
          <%= form.password_field :password, 
              required: true, 
              autocomplete: "current-password", 
              maxlength: 72,
              class: "block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6" %>
        </div>
      </div>

      <div>
        <%= form.submit "Sign in", class: "flex w-full justify-center rounded-md bg-indigo-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" %>
      </div>
    <% end %>

    <p class="mt-10 text-center text-sm/6 text-gray-400">
      Not a member?
      <a href="#" class="font-semibold text-indigo-400 hover:text-indigo-300">Start a 14 day free trial</a>
    </p>
  </div>
</div>
