<header class="absolute inset-x-0 top-0 z-50" data-controller="mobile-menu">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Reel Picks</span>
        <%= image_tag "film_icon.svg", class: "h-8 w-auto", alt: "" %>
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-neutral-400" data-mobile-menu-target="openButton" data-action="click->mobile-menu#open">
        <span class="sr-only">Open main menu</span>
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-sm/6 font-semibold text-white">Product</a>
      <a href="#" class="text-sm/6 font-semibold text-white">Features</a>
      <a href="#" class="text-sm/6 font-semibold text-white">Marketplace</a>
      <a href="#" class="text-sm/6 font-semibold text-white">Company</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <% if authenticated? %>
        <span class="inline-block max-w-xs truncate mx-3 px-2 border-r border-neutral-500 text-sm/6 text-neutral-400"><%= Current.user.email_address %></span>
        <%= button_to "Log out", session_path, method: :delete, class: "text-nowrap text-sm/6 font-semibold text-white" %>
      <% else %>
        <%= link_to new_session_path, class: "text-sm/6 font-semibold text-white" do %>
          Log in <span aria-hidden="true">&rarr;</span>
        <% end %>
      <% end %>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <div class="hidden lg:hidden" role="dialog" aria-modal="true" data-mobile-menu-target="menu">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0 z-50 bg-neutral-900/80 transition-opacity" data-mobile-menu-target="backdrop"></div>
    <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-neutral-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Reel Picks</span>
          <%= image_tag "film_icon.svg", class: "h-8 w-auto", alt: "" %>
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-neutral-400" data-mobile-menu-target="closeButton" data-action="click->mobile-menu#close">
          <span class="sr-only">Close menu</span>
          <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-neutral-500/25">
          <div class="space-y-2 py-6">
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-neutral-800">Product</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-neutral-800">Features</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-neutral-800">Marketplace</a>
            <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-white hover:bg-neutral-800">Company</a>
          </div>
          <div class="py-6">
            <% if authenticated? %>
              <%= button_to "Log out", session_path, method: :delete, class: "-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-white hover:bg-neutral-800" %>
            <% else %>
              <%= link_to "Log in", new_session_path, class: "-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-white hover:bg-neutral-800" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
