<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <%= image_tag "film_icon.svg", class: "mx-auto h-10 w-auto", alt: "Reel Picks" %>
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-neutral-100">Update your password</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <% if alert = flash[:alert] %>
      <div class="mb-6 rounded-md bg-red-950 p-4">
        <div class="flex">
          <div class="shrink-0">
            <svg class="size-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <div class="text-sm text-red-400" id="alert">
              <p><%= alert %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= form_with url: password_path(params[:token]), method: :put, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :password, "New password", class: "block text-sm/6 font-medium text-neutral-100" %>
        <div class="mt-2">
          <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72, class: "block w-full rounded-md bg-neutral-100/5 px-3 py-1.5 text-base text-neutral-100 outline-1 -outline-offset-1 outline-neutral-100/10 placeholder:text-neutral-500 focus:outline-2 focus:-outline-offset-2 focus:outline-rose-500 sm:text-sm/6" %>
        </div>
      </div>

      <div>
        <%= form.label :password_confirmation, "Confirm new password", class: "block text-sm/6 font-medium text-neutral-100" %>
        <div class="mt-2">
          <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72, class: "block w-full rounded-md bg-neutral-100/5 px-3 py-1.5 text-base text-neutral-100 outline-1 -outline-offset-1 outline-neutral-100/10 placeholder:text-neutral-500 focus:outline-2 focus:-outline-offset-2 focus:outline-rose-500 sm:text-sm/6" %>
        </div>
      </div>

      <div>
        <%= form.submit "Save new password", class: "flex w-full justify-center rounded-md bg-rose-500 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-rose-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-500" %>
      </div>
    <% end %>
  </div>
</div>
